{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio WebSite</title>
    <!-- css links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>
    <!-- header -->
    {% include 'partial/_header.html' %}
    {% block content %} {% endblock content%}

    <!-- footer -->
    {% include 'partial/_footer.html' %}

</body>
<script>
    document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'));
</script>

</html>