{% extends 'base.html' %}
<!-- top-part -->
{% block content %}
<section class="top-part">
    <div>
        <img src="/img/dd.jpg">
    </div>
    <div>
        <p>
            I am Abdirahman yusuf i am software engineering my specialization is HTML 5 CSS JavaScript Tailwind css
            ,Bootstrap , React js Python Django , Mysql Oracle Database , i have experience for above programming
            language i love coding solving problems , Feel Fee To contact me .
        </p>
        <a href="https://www.facebook.com/AbdurahmanEngineer">
            <i class="fa fa-facebook fa-2x"></i>

        </a>
        <a href="https://www.linkedin.com/in/abdurahman-yusuf-abdi-808606157/">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="https://abdurahmany.com/">
            <i class="fa fa-globe fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/engyusufabdi/?hl=en">
            <i class="fa fa-instagram fa-2x"></i>

        </a>
        <a href="https://github.com/Abdirahmanyusuf">
            <i class="fa fa-github fa-2x"></i>

        </a>

    </div>
</section>


<!-- middle section -->
<div class="container">
    <h2>Skills Overview</h2>
    <p>
        I have more than 8 years' experience building rich web applications for clients all over the world. Below is
        a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience?
        Check out my online resume.

    </p>
    <section class="skills">
        <div class="box">
            <h3>FrontEnd</h3>

            <i class="fa fa-tasks fa-4x"></i>
            <ul>
                <li>HTML5</li>
                <li>CSS3/Bootstrap/Tailwind/SASS</li>
                <li>JavaScript/React.js</li>

            </ul>
        </div>
        <div class="box">
            <h3>BackEnd</h3>
            <i class="fa fa-database fa-4x"></i>
            <ul>
                <li>Mysql/Oracle/MangoDB</li>
                <li>Python/Django</li>
                <li>PHP</li>
                <li>Node.js</li>

            </ul>
        </div>
        <div class="box">
            <h3>Other Tools</h3>
            <i class="fa  fa-cog fa-4x"></i>
            <ul>
                <li>CMS/Wordpress/joomla</li>
                <li>Chrome/devtool</li>
                <li>Github</li>
                <li>Webpack</li>

            </ul>
        </div>
    </section>


</div>
{% endblock  %}