{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Resume</title>
</head>

<body class="cv">
    <!-- container -->
    <div class="container-cv">
        <!-- header -->
        <header class="main-header">
            <div>
                <img src="{% static '/img/dd.jpg' %}">
            </div>
            <div>
                <h1>ABDIRAHMAN YUSUF ABDI</h1>
                <h4>FULL-STACK DEVELOPER</h4>
                <p>1 years of experience in front-end and back-end engineering.
                    Ambitious and communicative. Good mentor and tech lead.</p>
            </div>
            <div>
                <ul>
                    <li><a href="https://abdurahmany.com">abdurahmany.com</a></li>
                    <li><a href="#">Bukhaari45@gmail.com</a></li>
                    <li><a
                            href="https://www.linkedin.com/in/abdurahman-yusuf-abdi-808606157/">Linkedin/Abdirahamnyusuf</a>
                    </li>
                    <li><a href="https://github.com/Abdirahmanyusuf">Github/Abdirahmanyusuf</a>
                    </li>

                </ul>
            </div>

        </header>

        <!-- skills -->
        <div class="skill">
            <h2>Skills</h2>

            <ul>
                <li>back-end: Python Django, Node,js PHP, SQL SERVER ,MYSQL ,ORACLE ,MANGO DB (Vitualization Memery)
                    systems software</li>
                <li>front-end: Javascript,React,Js HTML CSS,Tailwind ,bootstrap , SASS, (Hooks)</li>
                <li>Attentive to UI/UX details and high code quality. Fan of unit tests, functional programming, typed
                    interfaces, and DDD.</li>
                <li>Can help in or take over: project management, estimation and ownership, tech recruitment, client
                    negotiations.</li>
                <li>Used to participate in algorithm programming competitions..</li>
            </ul>

            <h2>Experience</h2>
        </div>

        <!-- Exepreince -->

        <section class="exeprience">
            <div>
                <h4>TELESOM COMPANY</h4>
                <h5>2015 - 2017</h5>
                <a href="#">
                    <i class="fa fa-web fa-2x"></i>
                    Telesom Company
                </a>
            </div>

            <div>
                <h3>ICT Officer</h3>
                <ul>
                    <li>Maintaining and administering computer networks and related computing environments including
                        systems software</li>
                    <li>applications software, hardware, and configurations. Performing disaster recovery operations and
                        data backups when required</li>
                    <li>Protecting data, software, and hardware by coordinating</li>
                    <li>planning and implementing network security measures. Troubleshooting, diagnosing and resolving
                        hardware</li>
                    <li>software, and other network and system problems.</li>
                </ul>
            </div>
            <div>
                <h4>NUGAAL UNIVERSITY</h4>
                <h5>2016 - 2017</h5>
                <a href="#">
                    <i class="fa fa-web fa-2x"></i>
                    Nugaal University
                </a>
            </div>

            <div>
                <h3>Lecturer Computer Science</h3>
                <ul>
                    <li>lecture planning, preparation and research</li>
                    <li>contact and teaching time with students</li>
                    <li>checking and assessing students' work</li>
                    <li>encouraging personal development via tutorial or pastoral work</li>
                    <li>attending staff meetings.</li>
                    <li>attending and speaking at conferences and seminars
                    </li>
                </ul>
                <h2>Education</h2>
            </div>

        </section>

        <!-- Education -->
        <section class="education">
            <div>
                <h4>NUGAAL UNIVERSITY</h4>
                <h5>2012 - 2015</h5>
                <a href="#">
                    <i class="fa fa-education fa-2x"></i>
                    Nugaal University
                </a>
            </div>

            <div>
                <h3>Computer Science</h3>
                <ul>
                    <li>Nugaal University was established by academicians and professionals
                        from Sol Region on 15th September 2004, as to meet the academic
                        needs of the region</li>

                </ul>
            </div>
            <div>
                <h4>DAFFODIL INTERNATIONAL UNIVERSITY</h4>
                <h5>2018 - 2020</h5>
                <a href="#">
                    <i class="fa fa-web fa-2x"></i>
                    Daffodil International Univeristy
                </a>
            </div>

            <div>
                <h3>M.Sc Software Engineering</h3>
                <ul>
                    <li>Daffodil International University is a private university located in Dhanmondi, Dhaka,
                        Bangladesh and the permanent campus is located in Daffodil Road, Khagan, Ashulia, Savar which is
                        in Dhaka district. It was established on 24 January 2002 under the Private</li>

                </ul>

            </div>

        </section>
        <!--  -->
    </div>

</body>

</html>