<footer class="footer">
    <div>
        <p>Copyright &copy;2020</p>
    </div>
    <di>
        <p>Social Media</p>
        <a href="https://www.facebook.com/AbdurahmanEngineer">
            <i class="fa fa-facebook fa-1x"></i>

        </a>
        <a href="https://www.linkedin.com/in/abdurahman-yusuf-abdi-808606157/">
            <i class="fa fa-linkedin fa-1x"></i>
        </a>
        <a href="https://abdurahmany.com/">
            <i class="fa fa-globe fa-1x"></i>
        </a>
        <a href="https://www.instagram.com/engyusufabdi/?hl=en">
            <i class="fa fa-instagram fa-1x"></i>

        </a>
        <a href="https://github.com/Abdirahmanyusuf">
            <i class="fa fa-github fa-1x"></i>

        </a>
    </di>
</footer>